---
import "../styles/main.css";

import acUnitImage from "../assets/images/ac02.png";
import acUnitImage2 from "../assets/images/acunit.jpg";
import partnership from "../assets/images/partnership.svg";
import maintenance from "../assets/images/maintenance.svg";
import delivery from "../assets/images/delivery.jpg";
import maintenanceTech from "../assets/images/maintenance-tech.webp";
import personPlaceholder from "../assets/images/personPlaceholder.jpg";
import { Image } from 'astro:assets';

import brandLogo from "../assets/images/brandLogo.png";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Feedback from "../components/Feedback.astro";
import Hireus from "../components/Hireus.astro";
import Blogpreview from "../components/Blogpreview.astro";
import ServiceBanner from "../components/ServiceBanner.astro";
import ClientLogo from "../components/ClientLogo.astro";

import { allCompanyInformation } from "../lib/seoContent"
import PrimaryButton from "../components/Buttons/PrimaryButton.astro";

const seoContent = await allCompanyInformation();

const keywords = seoContent[0]?.seoKeywords?.join(", ") || "";




---
<!DOCTYPE html>

<html  data-wf-page="661caa5ae3dacb8bb23f4d0c"
    data-wf-site="661caa5ae3dacb8bb23f4d00" lang="en" data-wf-locale="en">

<head>
    <meta charset="utf-8" />
    <title>{seoContent[0].companyName}</title>
    <meta
        content={seoContent[0].seoDescription}
        name="description" />
    <meta content={seoContent[0].companyName} property="og:title" />
    <meta
        content={seoContent[0].seoDescription}
        property="og:description" />
    <meta
        content={seoContent[0].companyBanner}
        property="og:image" />
    <meta content={seoContent[0].companyName} property="twitter:title" />
    <meta
        content={seoContent[0].seoDescription}
        property="twitter:description" />
    <meta
        content={seoContent[0].companyBanner}
        property="twitter:image" />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
   
    <meta name="keywords" content={keywords} />
    <meta name="google-site-verification" content="bZIlgZ90KSJ4E6wO3LyPS4FxhqfQIWk1RUZaQ_F98fg" />
   
    
    
    

    <script
        type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>
        <link href="https://uhfawvmxqtznjbwhdkyx.supabase.co/storage/v1/object/public/content//brandLogo.png" rel="icon" type="image/png" />
        <link href="https://uhfawvmxqtznjbwhdkyx.supabase.co/storage/v1/object/public/content//brandLogo.png" rel="apple-touch-icon" sizes="180x180" />
        
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-28TP2W8ST9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-28TP2W8ST9');
</script>

</head>

<body>
    <section class="hero-section">
        <div class="hero-bg-wrap">

            <Navbar />
            <div data-w-id="ca4e9b7a-5518-bca7-e0ce-ff37598efa4f" class="hero-banner-image-wrap"><Image
                    src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e1894aaca0fc2ab1314cd_home-banner-road-line.png"
                    inferSize format="webp" densities={[1.5, 2]}  quality={"mid"}  
                    loading="eager"
                    alt="banner animation images" class="hero-image" /><Image inferSize
                    src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e1894673c3dd8048acb3d_banner-container-ground-pattern.png"
                    loading="eager" alt="banner animation images" class="hero-container-ground-pattern" /><Image inferSize format="webp" densities={[1.5, 2]}  quality={"mid"}  
                    src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e18943d26e2397799116f_banner-container-set-1.png"
                    loading="eager"
                    alt="banner animation images" class="hero-container-group-one" /><Image inferSize format="webp" densities={[1.5, 2]}  quality={"mid"}  
                    src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e1894c0448955523a2d86_banner-container-set-2.png"
                    loading="eager"
                    alt="banner animation images" class="hero-container-group-two" /><Image inferSize format="webp" densities={[1.5, 2]}  quality={"mid"}  
                    src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e18942c111e6a3b310be9_banner-container-set-3.png"
                    loading="eager"
                    alt="banner animation images" class="hero-container-group-three" /><Image inferSize format="webp" densities={[1.5, 2]}  quality={"mid"}  
                    src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e1894b9cefcd17a9e060b_banner-container-set-4.png"
                    loading="eager"
                    alt="banner animation images" class="hero-container-group-four" /><Image inferSize format="webp" densities={[1.5, 2]}  quality={"mid"}  
                    src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e18949543d43b5e82de70_banner-container-set-5.png"
                    loading="eager"
                    alt="banner animation images" class="hero-container-group-five" />
                <div class="white-corner-bg"></div>
            </div>
            <div class="w-layout-blockcontainer large-container w-container">
                <div class="hero-wrap">
                    <div style="Opacity:1" class="hero-main-wrap">
                        <div class="hero-card-wrap">
                            <h1 class="hero-card-title">Reliable Air Conditioning Solutions in Nairobi</h1>
                            <p class="hero-card-content">Providing top-quality air conditioning products and services for residential and commercial spaces. Trust {seoContent[0].companyName} to keep you cool and comfortable, no matter the climate.</p>
                            <PrimaryButton text="Contact Us" href="contact" />
                                <div class="hero-tabs-wrap">
                                    <!-- <h2 class="hero-form-title">Check Availability</h2> -->
                                    
                                   
                                        <div class="home-service-tab-menu w-tab-menu"><a href="contact"
                                                class="services-tab-link w-inline-block w-tab-link">
                                                <div class="service-icon-wrap"><img height="60" width="60"
                                                        src="https://uhfawvmxqtznjbwhdkyx.supabase.co/storage/v1/object/public/content//delivery.svg"
                                                        loading="lazy" alt="service tab icon" class="hero-service-icon" /></div>
                                                <div>Supply & Installation</div>
                                            </a><a href="contact" class="services-tab-link w-inline-block w-tab-link">
                                                <div class="service-icon-wrap"><img height="60" width="60"
                                                        src="https://uhfawvmxqtznjbwhdkyx.supabase.co/storage/v1/object/public/content//maintenance.svg"
                                                        loading="lazy" alt="service tab icon" class="hero-service-icon" /></div>
                                                <div class="service-text-wrap">
                                                    <div>Maintenance Services</div>
                                                </div>
                                            </a>
                                            </a>
                                            </a><a href="contact" class="services-tab-link w-inline-block w-tab-link">
                                                <div class="service-icon-wrap"><img height="60" width="60"
                                                        src="https://uhfawvmxqtznjbwhdkyx.supabase.co/storage/v1/object/public/content//partnership.svg"
                                                        loading="lazy" alt="service tab icon" class="hero-service-icon" /></div>
                                                <div class="service-text-wrap">
                                                    <div>Partnered Brands</div>
                                                </div>
                                            </a></div>
                                        
                                    
                                </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="w-layout-blockcontainer large-container w-container">
                <div class="hero-counter-wrap">
                    <div class="hero-counter">
                        <h3 class="counter-count">100%</h3>
                        <div class="counter-text-wrap">
                            <div class="color-swatch-bg-icon-wrap">
                                <div class="color-swatch-bg-icon"></div>
                            </div>
                            <div>Customer Satisfaction.</div>
                        </div>
                    </div>
                    <div class="hero-counter">
                        <h3 class="counter-count">7254</h3>
                        <div class="counter-text-wrap">
                            <div class="color-swatch-bg-icon-wrap">
                                <div class="color-swatch-bg-icon"></div>
                            </div>
                            <div>Installed Units.</div>
                        </div>
                    </div>
                    <div class="hero-counter">
                        <h3 class="counter-count">95%</h3>
                        <div class="counter-text-wrap">
                            <div class="color-swatch-bg-icon-wrap">
                                <div class="color-swatch-bg-icon"></div>
                            </div>
                            <div>Timely Deliveries.</div>
                        </div>
                    </div>
                    <div class="hero-counter">
                        <h3 class="counter-count">3520</h3>
                        <div class="counter-text-wrap">
                            <div class="color-swatch-bg-icon-wrap">
                                <div class="color-swatch-bg-icon"></div>
                            </div>
                            <div>Happy Customers.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="transport-section">
        <div class="w-layout-blockcontainer container w-container">
            <div class="transport-wrap">
                <div class="transport-image-wrap"><Image class="transport-image"
                        src={acUnitImage}
                        alt="transport images" style="Opacity:1"
                        data-w-id="c91ad33b-993b-94ef-248d-3d3e3c55a5e5" loading="lazy"/>
                </div>
                <div data-w-id="8e086243-983e-1145-2dfe-e297fd0d7b8c" style="Opacity:1" class="transport-content-wrap">
                    <div class="transport-title-wrap">
                        <h2 class="transport-title">Expert Installation Services</h2>
                    </div>
                    <p class="transport-content">Count on our proven track record for seamless air conditioning installations, ensuring your home or business stays cool and comfortable.</p>

                </div>
            </div>
            <div class="transport-section-line-break"></div>
            <div class="transport-wrap">
                <div data-w-id="f9d7c679-3dcd-2e22-a68e-7ff417487a2e" style="Opacity:1"
                    class="transport-content-wrap right-align">
                    <div class="transport-title-wrap">
                        <h2 class="transport-title">Comprehensive Maintenance Plans</h2>
                    </div>
                    <p class="transport-content">Extend the life of your air conditioning systems with our effective maintenance services, designed to enhance performance and reliability.</p>
                      </div>
                <div class="transport-image-wrap"><Image class="transport-image"
                    src={acUnitImage2}
                    alt="transport images" style="Opacity:1"
                    data-w-id="c91ad33b-993b-94ef-248d-3d3e3c55a5e5" loading="lazy"/>
            </div>
            </div>
            <div class="transport-section-line-break"></div>
            <div class="transport-wrap">
                <div class="transport-image-wrap"><Image class="transport-image"
                    src={acUnitImage}
                    alt="transport images" style="Opacity:1"
                    data-w-id="c91ad33b-993b-94ef-248d-3d3e3c55a5e5" loading="lazy"/>
            </div>
                <div data-w-id="c3e36edb-6801-c564-d66f-61622f6605bd" style="Opacity:1" class="transport-content-wrap">
                    <div class="transport-title-wrap">
                        <h2 class="transport-title">Swift Repair Solutions</h2>
                    </div>
                    <p class="transport-content">Trust our expert team to quickly diagnose and repair your air conditioners, minimizing downtime and maximizing comfort.</p>
                
                </div>
            </div>
            <div class="transport-section-line-break"></div>
            <div class="transport-wrap">
                <div data-w-id="dca7c44f-ec91-6cde-673f-aa5246482fee" style="Opacity:1"
                    class="transport-content-wrap right-align">
                    <div class="transport-title-wrap">
                        <h2 class="transport-title">Premium Product Range</h2>
                    </div>
                    <p class="transport-content">Explore top air conditioning brands, including LG, GREE, LECOOL, and Samsung, for high-quality and energy-efficient cooling solutions.</p>
                    <PrimaryButton text="Contact Us" href="/contact" />
                </div>
                <div class="transport-image-wrap"><Image class="transport-image"
                    src={acUnitImage2}
                    alt="transport images" style="Opacity:1"
                    data-w-id="c91ad33b-993b-94ef-248d-3d3e3c55a5e5" loading="lazy"/>
            </div>
            </div>
        </div>
    </section>
    <!-- <ServiceBanner /> -->
    <section class="about-section">
        <div class="w-layout-blockcontainer container w-container">
            <div class="about-main-wrap">
                
                <div class="about-wrap bottom-wrap">
                    <div style="Opacity:1"
                        class="about-content-wrap about-bottom-wrap">
                        <div class="about-content-title-wrap">
                            <h2 class="section-title white-text">Quality service, customer satisfaction our priority.
                            </h2>
                        </div>
                        <div class="about-sub-wrap-list">
                            <div class="about-list-item">
                                <div class="about-sub-wrap-icon-bg"><img  height="12" width="12"
                                        src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e6072cb89e63ddaef303f_about-tick-sub-wrap.svg"
                                        loading="lazy" alt="list images" /></div>
                                <div class="about-list-content-sub-wrap">
                                    <p class="about-list-item-content sub-wrap-content">Personalized service <span
                                            class="about-content-subtext">tailored to you.</span></p>
                                </div>
                            </div>
                            <div class="about-list-item">
                                <div class="about-sub-wrap-icon-bg"><img  height="12" width="12"
                                        src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e6072cb89e63ddaef303f_about-tick-sub-wrap.svg"
                                        loading="lazy" alt="list images" /></div>
                                <div class="about-list-content-sub-wrap">
                                    <p class="about-list-item-content sub-wrap-content">Quality-driven service for each purchase.</p>
                                </div>
                            </div>
                            <div class="about-list-item">
                                <div class="about-sub-wrap-icon-bg"><img  height="12" width="12"
                                        src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e6072cb89e63ddaef303f_about-tick-sub-wrap.svg"
                                        loading="lazy" alt="list images" /></div>
                                <div class="about-list-content-sub-wrap">
                                    <p class="about-list-item-content sub-wrap-content">Dedicated team ensuring <span
                                            class="about-content-subtext">customer satisfaction.</span></p>
                                </div>
                            </div>
                            <div class="about-list-item">
                                <div class="about-sub-wrap-icon-bg"><img  height="12" width="12"
                                        src="https://cdn.prod.website-files.com/661caa5ae3dacb8bb23f4d00/661e6072cb89e63ddaef303f_about-tick-sub-wrap.svg"
                                        loading="lazy" alt="list images" /></div>
                                <div class="about-list-content-sub-wrap">
                                    <p class="about-list-item-content sub-wrap-content">Reliable maintenance services just for you.</p>
                                </div>
                            </div>
                        </div>
                        <div class="about-button-link-wrap"><a
                                href="contact" class="main-button-link w-inline-block">
                                <div>Request Instant Quotes</div>
                                <div class="button-icon-wrap">
                                    <div style="-webkit-transform:translate3d(3px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(-45deg, 0);-moz-transform:translate3d(3px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(-45deg, 0);-ms-transform:translate3d(3px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(-45deg, 0);transform:translate3d(3px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(-45deg, 0)"
                                        class="button-icon icon-one"></div>
                                    <div style="-webkit-transform:translate3d(5px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(-45deg, 0);-moz-transform:translate3d(5px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(-45deg, 0);-ms-transform:translate3d(5px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(-45deg, 0);transform:translate3d(5px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(-45deg, 0)"
                                        class="button-icon icon-two"></div>
                                    <div style="background-color:rgb(255,255,255)" class="button-icon"></div>
                                </div>
                            </a></div>
                            <div class="spacer" style="height: 32px;"></div>
                    </div>
                    <div class="about-image-wrap home-about-two"><Image
                            src={maintenanceTech}
                            loading="lazy" style="Opacity:1"    
                            alt="home about image" class="about-wrap-image" style="max-height:350px; max-width: 390px; object-fit: cover;"/></div>
                </div>
            </div>
        </div>
    </section>
    <Feedback/>
    
    <Blogpreview/>
   <Footer/>
   <Hireus/>
    
        <script src="../script/app.js"> </script>
</body>

</html>